* {
  /* 마진 및 패딩 여백 0 */
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* 테두리를 기준으로 박스 사이즈 정함 */
}
a,
a:link,
a:visited {
  /* 방문X 방문o한 링크에 대한 속성 */
  color: inherit; /* 글씨 색깔은 부모 요소 상속, 꾸미기X */
  text-decoration: none;
}
li {
  list-style: none;
}
.container {
  width: 1140px; /* 너비 속성 */
  margin: 0 auto; /* 마진 영역 가운데 정렬 */
}

/* header */
header {
  position: fixed;
  top: 0;
  color: white;
  z-index: 1;
  width: 100%;
  padding: 1rem; /* 패딩 영역 여백 */
}
header .container {
  display: flex;
  justify-content: space-between; /* 양쪽 끝 사이의 간격이 일정하게 정렬 */
  align-items: center; /* 세로(교차축)의 가운데 정렬 */
  width: 100%; /* 너비 설정 */
}
header nav ul {
  display: flex;
}
header nav ul li {
  padding: 10px; /* 내비게이션 영역 버튼들의 패딩 속성 */
}
header button {
  background: transparent; /* 버튼 배경 투명하게 */
  border: 0; /* 테두리 속성 */
  cursor: pointer; /* 마우스를 갖다대면 포인터 */
  color: white;
}
header h1 button {
  /* h1 버튼 속성 */
  font-size: 2rem;
  font-weight: bold; /* 볼드체 */
}
header nav ul li button {
  /* 내비게이션 영역 버튼 속성 */
  font-size: 1.2rem;
  color: white;
}

header.active {
  /* 검은색 배경을 넣어주어 스크롤을 내려도 헤더가 잘 보이게 배치 */
  background-color: #000;
  animation: fadeIn 0.5 ease-in-out;
}

/* 안보였다가 나타나는 것 같은 효과 */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* main */
main {
  width: 100%;
  height: 100vh;
  color: white;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(../IMAGES/me.jpg) center center; /* linear-gradient속성으로 배경 잔잔하게   */
  background-size: cover; /* 배경이 꽉 찰 수 있도록 조정 */
  display: flex;
  justify-content: center; /* 가운데 정렬 */
  align-items: center; /* 가운데 정렬 */
  text-align: center; /* 텍스트 가운데 정렬 */
}
main h4 {
  font-size: 2rem; /* h4 글자 크기 조절 */
}
main h2 {
  font-family: "Poppins", sans-serif;
  font-size: 3.5rem;
  margin: 2rem 0; /* 마진 상하 여백 2rem 좌우 여백 0 */
  letter-spacing: 3px; /* 자간 설정 */
}
main p {
  max-width: 500px;
  margin: 0 auto; /* p 영역 가운데 정렬 */
  font-size: 1.25rem;
}
main button.download {
  background-color: transparent; /* 버튼 배경 투명하게 */
  border: 3px solid white;
  border-radius: 20px; /* 테두리 둥글게 */
  padding: 1rem 2rem; /* 패딩 영역 상하 여백 1rem 좌우 2rem */
  margin-top: 3rem; /* 마진 영역 위쪽 여백 3rem */
  color: white;
  font-weight: bold; /* 폰트 굵게 */
  cursor: pointer; /* 마우스를 갖다대면 포인터 */
}
main button.mouse {
  background-color: transparent;
  border: none; /* 테두리 표시X */
  font-size: 2rem;
  position: absolute;
  bottom: 1rem; /* 마우스 버튼 왼쪽 아래로 떨어뜨리기 */
  left: 50%;
  transform: translate(-50%); /* 조금 더 왼쪽으로 위치 조정 */
  color: white;
  cursor: pointer;
  animation: upDown 1s ease-in-out infinite; /* 아래의 keyframes upDown을 통해 애니메이션 속성을 추가, 1초마다 위아래로 무한반복  */
}

@keyframes upDown {
  0% {
    bottom: 1rem;
  }
  50% {
    bottom: 1.5rem;
  }
  100% {
    bottom: 1rem;
  }
}

main h2 span::after {
  /* 컨텐츠가 끝나기 전에 내용 추가 */
  content: ""; /* 깜빡임을 나타내기에 내용은 없음 */
  height: 40px;
  width: 3px;
  background-color: #fff;
  display: inline-block;
  animation: blink 0.7s ease-in-out infinite; /* 0.7초마다 무한 깜빡임을 주는 애니메이션 삽입 */
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* about me */
section {
  font-family: "Poppins", sans-serif;
  padding: 5rem 0; /* 패딩영역 상하 여백 설정*/
}
/* 번갈아 가며 배경색이 바뀜 */
section:nth-child(2n) {
  background-color: #f8f8f8;
}
/* float 속성 해제 */
section .about-self::after {
  content: "";
  clear: both;
  display: block;
}
section .title {
  margin-bottom: 3rem; /* 사진과 ABOUT ME 글자 사이의 여백 설정*/
}
section .title h4 {
  font-size: 1.35rem;
  color: #ed4848;
  position: relative;
}
section .title h2 {
  font-size: 3.5rem;
}
section .title p {
  font-size: 1.15rem;
}

/* 본문 너비 절반 지정 & 왼쪽 배치 */
section .about-self .left {
  float: left;
  width: 50%; /* 왼쪽 오른쪽 각각 50%로 균일하게 배치 */
}
/* 이미지 크기가 부모 영역을 넘지 않도록 부모 영역의 최대 크기로 지정 */
section .about-self .left img {
  max-width: 100%;
}
/* 본문 너비 절반 지정 & 오른쪽 배치 */
section .about-self .right {
  width: 50%;
  float: left;
  padding: 0 2rem; /* 패딩영역 좌우 여백 설정*/
}
/* 본문 오른쪽 h3 태그의 글자 크기와 여백 지정 */
section .about-self .right h3 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
/* 본문 오른쪽 h3 태그의 strong 태그 색상 지정 */
section .about-self .right h3 strong {
  color: #ed4848;
}
/* 본문 오른쪽 p 태그의 크기 및 여백 지정 */
section .about-self .right p {
  font-size: 1.15rem;
  margin: 1rem 0;
}
/* 본문 오른쪽 아이콘 폰트의 크기 및 여백 지정 */
section .about-self .right .social a {
  font-size: 2.5rem;
  margin-right: 0.2rem;
}

/* what i do */
/* 부모 요소가 자식 요소의 높이를 제대로 알기 위해서는 아래와 같은 속성 설정이 필요 */
section .do-me::after {
  content: "";
  display: block;
  clear: both;
}
/* 사각형 크기의 간격, 내부 여백 설정 */
section .do-me .do-inner {
  width: 30%;
  background-color: #fff;
  padding: 2rem; /* 패딩 영역 여백 설정 */
  margin-right: 5%; /* 한 개의 영역 당 30%의 지분을 가지고 있음. 총 100%가 되기 위해서는 마진 영역 즉 공백 영역에서 5%를 각각 넣어줌 */
  cursor: pointer;
  float: left; /* 왼쪽 정렬 */
}
/* 3영역의 마진 5%와 각 영역 30%를 합하면 105%가 되므로 맨 오른쪽 영역의 마진을 0으로 지정 */
section .do-me .do-inner:last-child {
  margin-right: 0;
}
/* 아이콘은 사진이 아니기에 폰트 설정이 가능 */
section .do-me .do-inner .icon i {
  font-size: 2.5rem;
  color: #ff6a6a;
}
/* 아이콘 밑 h3 영역 설정  */
section .do-me .do-inner .content h3 {
  font-size: 2rem;
  margin: 1rem 0; /* 마진 영역 위아래 여백 설정 */
}
section .do-me .do-inner .content p {
  font-size: 1.15rem;
}
section .do-me .do-inner:hover {
  background-color: lightcoral;
  color: white;
}
section .do-me .do-inner:hover i {
  color: white;
}

/* background */
.bg {
  background: url(../IMAGES/background.jpg) center center;
  background-size: cover;
  background-attachment: fixed;
  height: 650px;
}

/* portfolio */
/* clear 속성으로 float 속성값 해제*/
section.portfolio::after {
  content: "";
  display: block;
  clear: both;
}
/* inner 사각형 내부 꾸미는 속성 */
section.portfolio .portfolio-inner {
  width: 30%;
  margin-right: 5%; /* 사각형 사이의 여백 설정 */
  padding: 1rem 1rem 1.5rem 1rem; /* 패딩 영역 상우하좌 순서로 여백 설정 */
  float: left;
  background-color: #fff;
  border: 1px solid #ccc;
  margin-bottom: 3rem; /* 마진 영역 아래 여백 설정 */
}
/* 3영역의 마진 5%와 각 영역 30%를 합하면 105%가 되므로 3n마다의 영역 마진을 0으로 지정 */
section.portfolio .portfolio-inner:nth-child(3n) {
  margin-right: 0;
}
/* 넘치는 사진 너비를 블럭에 딱맞게 설정 */
section.portfolio .portfolio-inner img {
  width: 100%;
  display: block;
}
/* strong 태그 색상 및 간격 */
section.portfolio .portfolio-inner strong {
  color: #fa6a6a;
  margin: 0.5rem 0;
  display: block;
}
/* h3 태그 색상 및 간격 */
section.portfolio .portfolio-inner h3 {
  font-size: 1.75rem;
}

/* contact with me */
/* clear 속성으로 float 속성값 해제*/
section .contact-me::after {
  content: "";
  display: block;
  clear: both;
}
/* 왼쪽 영역 설정 */
section .contact-me .left {
  width: 30%; /* 왼쪽 30% 오른쪽 65% 여백 5% 총 100% */
  float: left; /* 왼쪽 정렬 */
}
/* 사각형 박스 크기 및 위치 조절 */
section .contact-me .left .card {
  border: 1px solid #ccc; /* 사각형 테두리 설정 */
  padding: 1rem; /* 패딩 여백 설정 */
  display: flex; /* 가운데 배치를 위한 flex 설정 */
  align-items: center;
  margin-bottom: 1.25rem; /* 마진 아래쪽 여백 */
}
/* 아이콘 크기 및 위치 조절 */
section .contact-me .left .card .icon i {
  font-size: 2rem;
  margin-right: 15px;
}
/* 오른쪽 영역 설정 */
section .contact-me .right {
  width: 65%;
  float: left;
  margin-left: 5%;
  border: 1px solid #ccc; /* 사각형 테두리 설정 */
  padding: 1rem;
  margin-bottom: 2rem;
}
/* form group 간의 사이 간격 조절 */
section .contact-me .right .form-group {
  margin-bottom: 1.25rem;
}
/* label 태그는 인라인 성격 그러므로 외부 여백을 적용하기 위한 block 설정 */
section .contact-me .right .form-group label {
  display: block;
  margin-bottom: 0.85rem;
}
/* 인풋 영역 설정 */
section .contact-me .right .form-group input {
  width: 100%;
  padding: 0.625rem;
  outline: none; /* 입력 칸을 눌렀을 때 두꺼워지는 것을 방지 */
  border: 1px solid #ccc;
  border-radius: 10px; /* 테두리 둥글게 */
}
/* input 영역을 클릭했을 때의 박스 설정 */
section .contact-me .right .form-group input:focus,
section .contact-me .right .form-group textarea:focus {
  border: 1px solid #719ece;
  box-shadow: 0px 0 10px #719ece; /* 그림자의 위치값과 번짐 조절 (순서대로 오른쪽 아래 번짐) */
}
/* 메세지 내용 속성 설정 */
section .contact-me .right .form-group textarea {
  width: 100%;
  height: 300px;
  outline: none; /* 입력 칸을 눌렀을 때 두꺼워지는 것을 방지 */
  resize: none; /* user가 마음대로 박스 사이즈 조절을 하지 않기 위함 */
  border: 1px solid #ccc;
  border-radius: 10px; /* 테두리 둥글게 */
}
/* send 버튼 설정 */
section .contact-me .right button {
  width: 100%;
  padding: 1rem;
  background-color: #f78b00;
  border: none;
  color: white; /* 글씨 색상 */
}

@media screen and (max-width: 1140px) {
  /* 화면 너비가 1140px 이하일 때의 메인과 섹션 영역의 너비 설정 */
  main .container {
    width: 992px;
  }
  section .container {
    width: 600px;
  }
  section .about-self .left {
    /* 너비 및 여백 조정 */
    width: 100%;
    margin-bottom: 1.5rem;
  }
  section .about-self .right {
    /* 너비 및 여백 조정 */
    width: 100%;
    padding: 0;
  }
  section .do-me .do-inner {
    /* 화면이 줄어들 때의 너비 및 여백 조정 (두줄로 보이도록) */
    width: 48%;
    margin-bottom: 1.5rem;
    margin-right: 0;
  }
  section .do-me .do-inner:nth-child(2n + 1) {
    /* 1, 3, 5,....번째 본문 사각형에 오른쪽 마진영역 여백 4% 적용 */
    margin-right: 4%;
  }
  section .portfolio-me .portfolio-inner {
    /* 화면이 줄어들 때의 너비 및 여백 조정 (두줄로 보이도록) */
    width: 48%;
    margin-right: 0;
  }
  section .portfolio-me .portfolio-inner:nth-child(2n + 1) {
    /* 1, 3, 5,....번째 본문 사각형에 오른쪽 마진영역 여백 4% 적용 */
    margin-right: 4%;
  }
  section .contact-me .left {
    /* 화면 비율에 맞게 줄어듬  */
    width: 100%;
    margin-left: 0;
  }
}
@media screen and (max-width: 992px) {
  html {
    /* 다른 영역들의 rem은 root em이기에 html속성값에 영향받음. 따라서 font size를 따로 설정해주어야 함 */
    font-size: 14px;
  }
  /* 화면 너비가 992px 이하일 때의 메인 영역 너비 설정 */
  main .container {
    width: 768px;
  }
  section .portfolio-me .portfolio-inner {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  html {
    font-size: 13px;
  }
  /* 화면 너비가 768px 이하일 때의 메인 영역 너비 설정 */
  main .container {
    width: 576px;
  }
  section .container {
    width: 400px;
  }
  section .do-me .do-inner {
    width: 100%; /* 768px 이하일 때에는 한 줄에 박스 한 개씩 나오도록 설정 */
    margin-right: 0;
  }
}
@media screen and (max-width: 576px) {
  html {
    font-size: 12px;
  }
  /* 화면 너비가 576px 이하일 때의 메인과 섹션 영역의 너비 설정 */
  main .container {
    width: 400px;
  }
  section .container {
    width: 360px;
  }
}
@media screen and (max-width: 400px) {
  html {
    font-size: 11px;
  }
  /* 화면 너비가 400px 이하일 때의 메인과 섹션 영역의 너비 설정 */
  main .container {
    width: 320px;
  }
  section .container {
    width: 320px;
  }
  main h4 {
    font-size: 1.5rem;
  }
  section .table h2 {
    font-size: 3rem;
  }
}
